<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=pointdb</property>
    <property name="hibernate.connection.username">oscar</property>
    <property name="hibernate.connection.password">asdf</property>
    <mapping resource="Entities/Ratreo.hbm.xml"/>
    <mapping resource="Entities/Paciente.hbm.xml"/>
    <mapping resource="Entities/Resonancia.hbm.xml"/>
    <mapping resource="Entities/Grupo.hbm.xml"/>
    <mapping resource="Entities/Par.hbm.xml"/>
    <mapping resource="Entities/Punto.hbm.xml"/>
    <mapping resource="Entities/GrupoRastreo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
